<h1>Nuevo usuario</h1>

<form action="/usuarios/new" method="post">
	<p>
		<label for="nombre">Nombre</label><br/>
		<input type="text" name="nombre" />
	</p>
	
	<p>
		<label for="edad">Edad</label><br/>
		<input type="text" name="edad" />
	</p>
	
	<input type="submit" value="enviar" >
</form>

<a href="/usuarios/show">Show</a>