<p>
	<strong>Nombre:</strong>
	<%= @usuario.nombre %>
</p>
<p>
	<strong>Edad:</strong>
	<%= @usuario.edad %>
</p>
<p>
	<strong>Email:</strong>
	<%= @usuario.email %>
</p>

<a href="/usuarios/new">new</a> |
<a href="/usuarios">ver todos</a>
